*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
  background-color: #0c122c;
  font-family: Raleway, sans-serif;
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* css reset end */
.container {
  display: flex;
  gap: 30px;
}
.large,
.small {
  background-color: #1d2c67;
}
.large {
  padding: 2rem;
  max-width: 600px;
  border-radius: 10px;
  height: fit-content;
  width: 450px;
  align-self: flex-end;
}
.header {
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  max-width: 200px;
  border-radius: 10px;

  margin-top: -80px;
  margin-left: 240px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1-span {
  font-size: 1rem;
  color: grey;
}
h2 {
  color: hsl(243, 100%, 9 3%);
  font-weight: 100;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.h2-span {
  font-weight: 800;
}
.loader {
  background-color: #151d48;
  width: 100%;
  height: 1rem;
  padding: 3px;
  border-radius: 10px;
}
.loader-2 {
  width: 81.5%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 0;
  align-items: center;
  justify-content: flex-end;
}
.loader-3 {
  background-color: white;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-right: -3px;
}
.text {
  display: flex;
}
p {
  color: hsl(243, 100%, 9 3%);
  font-weight: 800;
  font-size: 0.8rem;
}
.p-2 {
  margin-left: auto;
}

.small {
  padding: 30px 100px 30px 30px;
  border-top-right-radius: 50%;
}
.logo {
  margin-bottom: 30px;
}
.icons-container {
  display: flex;
  gap: 10px;
}
.icon {
  padding: 10px;
  background-color: #0b112c;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

@media (max-width: 754px) {
  body {
    background-image: url(bg-mobile.png);
  }
  .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .small,
  .large {
    max-width: 300px;
    width: 100%;
  }
  .header {
    margin-left: 26px;

    margin-top: 75px;
  }
}
